﻿@{
    ViewData["Title"] = "Home Page";
}

@model WeatherForecastFrontend.Models.BackendApi.GetWeatherListResponseModel

<div class="container">

    <form asp-controller="Home" asp-action="Upload" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col">
                <input type="file" name="postedFile" />
            </div>
            <div class="col">
                <input type="submit" value="Import" />
            </div>
        </div>
    </form>
    <div class="row" style="margin-top: 20px">
        @for (int i = 0; i < Model.weatherInfo.Count(); i++)
        {
            <div class="col">
                <div class="card" style="width: 18rem; margin-top: 20px">
                    <div class="card-header">
                        @Html.ValueFor(model => model.weatherInfo[i].name)
                    </div>
                    @*<img src=@item.main. class="card-img-top" alt="...">*@
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.weatherInfo[i].main.temp) : @Html.ValueFor(model => model.weatherInfo[i].main.temp) <span>&deg;</span>@Html.ValueFor(model => model.weatherInfo[i].degreeSymbol)</li>
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.weatherInfo[i].main.feels_like) : @Html.ValueFor(model => model.weatherInfo[i].main.feels_like) <span>&deg;</span>@Html.ValueFor(model => model.weatherInfo[i].degreeSymbol)</li>
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.weatherInfo[i].main.temp_min) : @Html.ValueFor(model => model.weatherInfo[i].main.temp_min) <span>&deg;</span>@Html.ValueFor(model => model.weatherInfo[i].degreeSymbol)</li>
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.weatherInfo[i].main.temp_max) : @Html.ValueFor(model => model.weatherInfo[i].main.temp_max) <span>&deg;</span>@Html.ValueFor(model => model.weatherInfo[i].degreeSymbol)</li>
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.weatherInfo[i].main.humidity) : @Html.ValueFor(model => model.weatherInfo[i].main.humidity)%</li>
                    </ul>
                </div>
            </div>
        }
    </div>
</div>

